<div class="modal-overlay d-flex align-items-center justify-content-center">
    <div class="modal-content bg-white rounded w-50" (click)="$event.stopPropagation()">

        <div class="header-container">
            <h2 class="text-center my-3">{{ state.name }}</h2>
            <button class="btn-close m-2" (click)="closeModal()" aria-label="Close"></button>
        </div>

        <div class="expandable-container">
            <div class="expandable-content d-flex flex-column gap-2" style="background: white;">
                <p><strong>{{ literals?.state_detail?.population }}: </strong>{{ state.totalPopulation }}</p>
                <p><strong>{{ literals?.state_detail?.median_income }}: </strong>$ {{ state.medianIncome }}</p>
                <p><strong>{{ literals?.state_detail?.poverty }}: </strong>{{ state.peopleInPoverty }} ({{ povertyPercentage.toFixed(2) }}%)</p>
                <p><strong>{{ literals?.state_detail?.unemployed }}: </strong>{{ state.unemployed }} ({{ unemployedPercentage.toFixed(2) }}%)</p>
                <p><strong>{{ literals?.state_detail?.home_value }}: </strong>$ {{ state.medianHomeValue }}</p>
                <p><strong>{{ literals?.state_detail?.rent }}: </strong>$ {{ state.medianRent }}</p>
                <p><strong>{{ literals?.state_detail?.no_insurance }}: </strong>{{ state.noHealthInsurance }} ({{ noInsurancePercentage.toFixed(2) }}%)</p>
            </div>
        </div>


        <div class="text-center mt-3">
            <button type="button" (click)="closeModal()" class="btn btn-primary btn-lg ms-auto d-block">
                <i class="bi bi-check-circle me-2"></i>{{ literals?.state_detail?.ok }}
            </button>
        </div>
    </div>
</div>