<div class="modal-overlay d-flex align-items-center justify-content-center">
    <div class="modal-content bg-white rounded" (click)="$event.stopPropagation()">
        <div class="header-container">
            <p><strong>{{ literals?.state_compared?.title }}</strong></p>
            <button class="btn-close m-2" (click)="closeModal()" aria-label="Close"></button>
        </div>

        <div class="d-flex overflow-x-auto">
            <div *ngFor="let state of states" class="col-6 flex-item">
                <h3 class="my-1 fs-3 text-start">{{ state.name }} %</h3>

                <p class="text-secondary">{{ state.totalPopulation }} {{ literals?.state_compared?.people }}</p>
                <div class="expandable-container">
                    <div class="expandable-content d-flex flex-column gap-2" style="background: white;">
                        <p>
                            <strong>{{ literals?.state_compared?.median_income }}: </strong>
                            <span [ngStyle]="{ color: state.incomeColor }">$ {{ state.medianIncome }}</span>
                        </p>
                        <p>
                            <strong>{{ literals?.state_compared?.poverty }}: </strong>
                            <span [ngStyle]="{ color: state.povertyColor }">
                                {{ state.peopleInPoverty }} ({{ state.povertyPercentage.toFixed(2) }}%)
                            </span>
                        </p>
                        <p>
                            <strong>{{ literals?.state_compared?.unemployed }}: </strong>
                            <span [ngStyle]="{ color: state.unemployedColor }">
                                {{ state.unemployed }} ({{ state.unemployedPercentage.toFixed(2) }}%)
                            </span>
                        </p>
                        <p><strong>{{ literals?.state_compared?.home_value }}: </strong>$ {{ state.medianHomeValue }}</p>
                        <p><strong>{{ literals?.state_compared?.rent }}: </strong>$ {{ state.medianRent }}</p>
                        <p>
                            <strong>{{ literals?.state_compared?.no_insurance }}: </strong>
                            <span [ngStyle]="{ color: state.noInsuranceColor }">
                                {{ state.noHealthInsurance }} ({{ state.noInsurancePercentage.toFixed(2) }}%)
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <button (click)="closeModal()" class="btn btn-primary btn-lg ms-auto d-block">
                <i class="bi bi-check-circle me-2"></i>{{ literals?.state_compared?.ok }}
            </button>
        </div>
    </div>
</div>