.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: #0056b3;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border-color: transparent;
    color: #0056b3;
    box-shadow: none;
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.flex-item {
  flex: 1 1 45%;
  min-width: 330px;
  box-sizing: border-box;
  margin: 10px;
}

.modal-overlay {
  overflow-y: hidden;
}

.modal-content {
  overflow: hidden;
  width: fit-content;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: hidden;
}

.overflow-x-auto {
  overflow-y: hidden !important;
  width: max-content;
  max-width: 90vw;
}