<div *ngIf="viewMode == ViewMode.LIST_STATES" class="principal-container">
    <div class="scroll-container">
        <table class="table table-hover table-bordered state-list header-table w-100 mb-0">
            <thead>
                <tr>
                    <th scope="col" class="text-center state-select-col">{{ literals?.states_list?.table?.select }}</th>
                    <th scope="col" class="text-center state-name-col">{{ literals?.states_list?.table?.state }}</th>
                    <th scope="col" class="text-center state-detail-col">{{ literals?.states_list?.table?.detail }}</th>
                </tr>
            </thead>
        </table>

        <div class="table-body-scroll elegant-scroll">
            <table class="table table-hover table-bordered state-list w-100">
                <tbody>
                    <tr *ngFor="let state of stateList" [class.table-active]="state.selected"
                        class="state-table-row" (click)="onStateRowClick($event, state)">
                        <td class="text-center align-middle state-select-col">
                            <input type="checkbox" [(ngModel)]="state.selected" (change)="onSelectedChange(state)"
                                (click)="$event.stopPropagation()" class="form-check-input" />
                        </td>
                        <td class="align-middle state-name-col">{{ state.name }}</td>
                        <td class="text-center align-middle view-detail-col">
                            <button type="button" (click)="viewDetails(state); $event.stopPropagation()"
                                class="btn btn-primary btn-sm">
                                <i class="bi bi-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-1 p-1">
        <button class="btn btn-primary btn-lg compare-btn" (click)="openComparedComponent()" [disabled]="isCompareDisabled()">
            {{ literals?.states_list?.compare_button }}
        </button>
        <button class="btn btn-warning btn-lg" [ngStyle]="{'margin-right': '28px'}" [title]="literals?.states_list?.clean_all" (click)="cleanAll()">
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

<div *ngIf="viewMode == ViewMode.LAYERS">
    <div class="scroll-container layers-scroll elegant-scroll">
        <table class="table table-hover table-responsive state-list w-100">
            <thead>
                <tr>
                    <th scope="col">{{ literals?.states_list?.table?.select }}</th>
                    <th scope="col">{{ literals?.states_list?.table?.layer }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let layerItem of mapLayers">
                    <td>
                        <input type="checkbox" [(ngModel)]="layerItem.selected"
                            (change)="onLayerSelectedChange(layerItem)" class="form-check-input" />
                    </td>
                    <td>{{ layerItem.layer.get('name') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div *ngIf="viewMode == ViewMode.POLYGON_AREA" class="polygon-area-container"
    [ngClass]="selectedPolygon ? 'blue-theme' : 'red-theme'">

    <div *ngIf="selectedPolygon; else noPolygonSelected">
        <h4 class="polygon-area-title">{{ literals?.states_list?.polygon_info_title }}</h4>
        <div class="polygon-metrics">
            <p>
                <strong>{{ literals?.states_list?.polygon_area }}:</strong>
                <span class="polygon-metric-value">{{ getSelectedPolygonArea() }}</span>
            </p>
            <p>
                <strong>{{ literals?.states_list?.perimeter }}:</strong>
                <span class="polygon-metric-value">{{ getSelectedPolygonPerimeter() }}</span>
            </p>
            <p>
                <strong>{{ literals?.states_list?.vertices }}:</strong>
                <span class="polygon-metric-value">{{ getSelectedPolygonVerticesCount() }}</span>
            </p>
            <p>
                <strong>{{ literals?.states_list?.center }}:</strong>
                <span class="polygon-metric-value">{{ getSelectedPolygonCenter() }}</span>
            </p>
        </div>
    </div>

    <ng-template #noPolygonSelected>
        <div>
            <p>{{ literals?.states_list?.no_polygon_selected }}</p>
        </div>
    </ng-template>
</div>



<div *ngIf="stateSelected" class="modal-overlay">
    <app-state-detail *ngIf="stateSelected" [state]="stateSelected" (close)="closeModal()"></app-state-detail>
</div>

<div *ngIf="comparedStates" class="modal-overlay">
    <app-state-compared [states]="statesToCompare" (close)="closeModal()"></app-state-compared>
</div>